<div class="media">
    <div class="media-left">
        <a href="https://www.virginmedia.ie/" target="_blank">
            <img ng-src="{{payee.logoUrl}}" class="media-object img-circle profile-img">
        </a>
    </div>
    <div class="media-body">
        <!--<h2 class="media-heading">{{payee.name}}</h2>-->
        <div ng-if="!payee.loaded">
            <button type="button" class="btn btn-primary" ng-click="payee.load()">Load</button>
        </div>
        <div ng-if="payee.loaded">
            <table class="table table-condensed">
                <tr>
                    <th class="checkbox-column"></th>
                    <th>Bill</th>
                    <th>Bill Amount</th>
                </tr>
                <tr ng-repeat="expense in payee.expenses">
                    <td><input type="checkbox"></td>
                    <td>
                        {{expense.billDate | date : 'dd-MM-yyyy'}}&nbsp;
                        <button ng-click="payees.openUrl(expense.billUrl)" type="button" class="btn btn-default btn-xs" aria-label="Left Align">
                            <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                        </button>
                    </td>
                    <td>{{expense.billAmount | currency : "€"}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
